# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/

# Virtual envs (por si hay alguno dentro)
venv/
.env/
.venv/
pytorch_env/
*.venv/

# Jupyter
.ipynb_checkpoints/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

#zips
*.zip

# Torch / datasets / weights
runs/
wandb/
data/
Dataset/
datasets/
*.pt
*.pth
*.onnx

# Cache
.cache/

#Carpetas
videos/
jsons_finales/
pilotnet_datasets/
pilotnet_processed/
mse_out_individual/
Dataset_Final_TFG_Maria_Juarez/
federated_cache/
jsons_finales_1/
jsons_finales_2/
jsons_finales_3/
jsons_finales_4/
videos_1/
videos_2/
videos_3/
videos_4/
pilotnet_datasets_1/
pilotnet_datasets_2/
pilotnet_datasets_3/
pilotnet_datasets_4/
pilotnet_processed_1/
pilotnet_processed_2/
pilotnet_processed_3/
pilotnet_processed_4/